{% extends "base.html" %}

{% block content %}
  <h2 style="color: navy;">Lista de Clientes</h2>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>Fecha de Nacimiento</th>
        <th>Tipo de Cliente</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for cliente in clientes %}
        <tr>
          <td>{{ cliente.id_cliente }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.dni }}</td>
          <td>{{ cliente.fecha_nacimiento }}</td>
          <td>{{ cliente.get_tipo_cliente_display }}</td>
          <td>
            <button class="btn btn-primary" onclick="editarCliente('{{ cliente.id_cliente }}')">Editar</button>
            <button class="btn btn-danger" onclick="mostrarConfirmacion('{{ cliente.id_cliente }}')">Eliminar</button>
            <button class="btn btn-info" onclick="verInformacion('{{ cliente.id_cliente }}')">Ver Información</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Botón para agregar cliente -->
  <button class="btn btn-success" onclick="mostrarFormulario('crear')">Agregar Cliente</button>

  <!-- Formulario para agregar cliente (inicialmente oculto) -->
  <div id="formularioCrearCliente" style="display: none;">
    <h2 style="color: navy;">Agregar Cliente</h2>
    <form id="crearClienteForm" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre">
      </div>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" class="form-control" id="apellido" name="apellido">
      </div>
      <div class="form-group">
        <label for="dni">DNI:</label>
        <input type="text" class="form-control" id="dni" name="dni">
      </div>
      <div class="form-group">
        <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento">
      </div>
      <div class="form-group">
        <label for="tipo_cliente">Tipo de Cliente:</label>
        <select class="form-control" id="tipo_cliente" name="tipo_cliente" onchange="toggleGarante()">
          <option value="propietario">propietario</option>
          <option value="inquilino">Inquilino</option>
        </select>
      </div>
      <!-- Datos del garante (visible solo si se elige "inquilino") -->
      <div id="garanteDatos" style="display: none;">
        <h3 style="color: navy;">Datos del Garante</h3>
        <div class="form-group">
          <label for="garante_nombre">Nombre del Garante:</label>
          <input type="text" class="form-control" id="garante_nombre" name="garante_nombre">
        </div>
        <div class="form-group">
          <label for="garante_apellido">Apellido del Garante:</label>
          <input type="text" class="form-control" id="garante_apellido" name="garante_apellido">
        </div>
        <div class="form-group">
          <label for="garante_dni">DNI del Garante:</label>
          <input type="text" class="form-control" id="garante_dni" name="garante_dni">
        </div>
      </div>
      <!-- Botones para guardar o cancelar el formulario -->
      <button type="button" class="btn btn-success" onclick="guardarCliente('crear')">Guardar</button>
      <button type="button" class="btn btn-danger" onclick="cancelarFormulario('crear')">Cancelar</button>
    </form>
  </div>

  <!-- Formulario para editar cliente (inicialmente oculto) -->
  <div id="formularioEditarCliente" style="display: none;">
    <h2 style="color: navy;">Editar Cliente</h2>
    <form id="editarClienteForm" method="post">
      {% csrf_token %}
      <input type="hidden" name="cliente_id" id="clienteIdEditar" value="">
      <div class="form-group">
        <label for="nombreEditar">Nombre:</label>
        <input type="text" class="form-control" id="nombreEditar" name="nombre">
      </div>
      <div class="form-group">
        <label for="apellidoEditar">Apellido:</label>
        <input type="text" class="form-control" id="apellidoEditar" name="apellido">
      </div>
      <div class="form-group">
        <label for="dniEditar">DNI:</label>
        <input type="text" class="form-control" id="dniEditar" name="dni">
      </div>
      <div class="form-group">
        <label for="fecha_nacimientoEditar">Fecha de Nacimiento:</label>
        <input type="date" class="form-control" id="fecha_nacimientoEditar" name="fecha_nacimiento">
      </div>
      <div class="form-group">
        <label for="tipo_clienteEditar">Tipo de Cliente:</label>
        <select class="form-control" id="tipo_clienteEditar" name="tipo_cliente" onchange="toggleGaranteEditar()">
          <option value="inquilino">Inquilino</option>
          <option value="propietario">Propietario</option>
        </select>
      </div>
      <!-- Datos del garante (visible solo si se elige "inquilino") -->
      <div id="garanteDatosEditar" style="display: none;">
        <h3 style="color: navy;">Datos del Garante</h3>
        <div class="form-group">
          <label for="garante_nombreEditar">Nombre del Garante:</label>
          <input type="text" class="form-control" id="garante_nombreEditar" name="garante_nombre">
        </div>
        <div class="form-group">
          <label for="garante_apellidoEditar">Apellido del Garante:</label>
          <input type="text" class="form-control" id="garante_apellidoEditar" name="garante_apellido">
        </div>
        <div class="form-group">
          <label for="garante_dniEditar">DNI del Garante:</label>
          <input type="text" class="form-control" id="garante_dniEditar" name="garante_dni">
        </div>
      </div>
      <!-- Botones para guardar o cancelar el formulario -->
      <button type="button" class="btn btn-success" onclick="guardarCliente('editar')">Guardar</button>
      <button type="button" class="btn btn-danger" onclick="cancelarFormulario('editar')">Cancelar</button>
    </form>
  </div>

  <!-- Alerta de eliminación (inicialmente oculta) -->
  <div id="alertaEliminar" style="display: none;">
    <h3 style="color: navy;">¿Estás seguro de que deseas eliminar este cliente?</h3>
    <button class="btn btn-danger" onclick="eliminarCliente()">ELIMINAR</button>
    <button class="btn btn-light" onclick="cancelarEliminar()">NO</button>
  </div>

  <!-- Agrega un contenedor div para el menú flotante -->
 <div id="menuFlotante" style="display: none; position: fixed; top: 20px; right: 20px; background-color: white; border: 1px solid #ccc; padding: 10px; max-width: 300px;">
    <button style="position: absolute; top: 5px; right: 5px; background-color: lightgreen; border: none; color: white; padding: 5px 10px; cursor: pointer;" onclick="cerrarMenuFlotante()">X</button>
    <h2 style="color: navy;">Información del Cliente</h2>
    <p><strong>ID:</strong> <span id="infoId"></span></p>
    <p><strong>Nombre:</strong> <span id="infoNombre"></span></p>
    <p><strong>Apellido:</strong> <span id="infoApellido"></span></p>
    <p><strong>DNI:</strong> <span id="infoDni"></span></p>
    <p><strong>Fecha de Nacimiento:</strong> <span id="infoFechaNacimiento"></span></p>
    <p><strong>Tipo de Cliente:</strong> <span id="infoTipoCliente"></span></p>
    <p><strong>Nombre del Garante:</strong> <span id="infoGaranteNombre"></span></p>
    <p><strong>Apellido del Garante:</strong> <span id="infoGaranteApellido"></span></p>
    <p><strong>DNI del Garante:</strong> <span id="infoGaranteDni"></span></p>
  </div>
  

  <div id="messages"></div>

  <script>
    // Variables para rastrear el estado de edición y eliminación
    let clienteIdEditar = null;
    let clienteIdEliminar = null;

    // Función para mostrar el formulario de cliente
    function mostrarFormulario(accion) {
      if (accion === 'crear') {
        // Mostrar el formulario de creación
        document.getElementById('formularioCrearCliente').style.display = 'block';
        document.getElementById('formularioEditarCliente').style.display = 'none';
      } else if (accion === 'editar') {
        // Mostrar el formulario de edición
        document.getElementById('formularioCrearCliente').style.display = 'none';
        document.getElementById('formularioEditarCliente').style.display = 'block';
      }

      // Restablecer campos del formulario
      document.getElementById('crearClienteForm').reset();
      document.getElementById('editarClienteForm').reset();

      // Ocultar alerta de eliminación
      document.getElementById('alertaEliminar').style.display = 'none';
      clienteIdEditar = null;
      clienteIdEliminar = null;
    }

    // Función para ocultar el formulario de cliente
    function cancelarFormulario(accion) {
      if (accion === 'crear') {
        document.getElementById('formularioCrearCliente').style.display = 'none';
      } else if (accion === 'editar') {
        document.getElementById('formularioEditarCliente').style.display = 'none';
      }

      clienteIdEditar = null;
      clienteIdEliminar = null;
    }

    // Función para mostrar/ocultar datos del garante según el tipo de cliente
    function toggleGarante() {
      const tipoCliente = document.getElementById('tipo_cliente').value;
      if (tipoCliente === 'inquilino') {
        document.getElementById('garanteDatos').style.display = 'block';
      } else {
        document.getElementById('garanteDatos').style.display = 'none';
      }
    }

    // Función para mostrar/ocultar datos del garante en el formulario de edición según el tipo de cliente
    function toggleGaranteEditar() {
      const tipoCliente = document.getElementById('tipo_clienteEditar').value;
      if (tipoCliente === 'inquilino') {
        document.getElementById('garanteDatosEditar').style.display = 'block';
      } else {
        document.getElementById('garanteDatosEditar').style.display = 'none';
      }
    }

    // Llamar a toggleGarante cuando cambie la selección de tipo de cliente
    document.getElementById('tipo_cliente').addEventListener('change', toggleGarante);
    document.getElementById('tipo_clienteEditar').addEventListener('change', toggleGaranteEditar);

    // Restablecer campos del formulario de edición cuando se cancela la edición
    document.getElementById('formularioEditarCliente').addEventListener('reset', () => {
      clienteIdEditar = null;
    });

    function guardarCliente(accion) {
      const form = accion === 'crear' ? document.getElementById('crearClienteForm') : document.getElementById('editarClienteForm');
      const formData = new FormData(form);
      fetch(accion === 'crear' ? '/clientes/agregar/' : `/clientes/editar/${clienteIdEditar}/`, {
        method: 'POST',
        body: formData,
        headers: {
          'X-CSRFToken': getCookie('csrftoken'),
        },
      })
      .then(response => response.json())
      .then(data => {
        if (data.message) {
          document.getElementById('messages').innerHTML = `<div class="alert alert-success">${data.message}</div>`;
          form.reset();
          // Actualizar la lista de clientes si es necesario
          // Puedes implementar la lógica aquí
        } else if (data.error) {
          document.getElementById('messages').innerHTML = `<div class="alert alert-danger">${data.error}</div>`;
        }
        // Ocultar el formulario después de guardar
        if (accion === 'crear') {
          document.getElementById('formularioCrearCliente').style.display = 'none';
        } else if (accion === 'editar') {
          document.getElementById('formularioEditarCliente').style.display = 'none';
        }
        clienteIdEditar = null;
      })
      .catch(error => {
        console.error(error);
      });
    }

    function editarCliente(clienteId) {
      if (clienteIdEliminar) {
        // Evitar editar si hay una eliminación en curso
        return;
      }
      const url = `/clientes/editar/${clienteId}/`;
      fetch(url)
        .then(response => response.json())
        .then(data => {
          // Llenar el formulario de edición con los datos del cliente
          document.getElementById('clienteIdEditar').value = data.id_cliente;
          document.getElementById('nombreEditar').value = data.nombre;
          document.getElementById('apellidoEditar').value = data.apellido;
          document.getElementById('dniEditar').value = data.dni;
          document.getElementById('fecha_nacimientoEditar').value = data.fecha_nacimiento;
          document.getElementById('tipo_clienteEditar').value = data.tipo_cliente;

          // Mostrar el formulario de edición
          document.getElementById('formularioEditarCliente').style.display = 'block';

          // Mostrar u ocultar datos del garante en el formulario de edición según el tipo de cliente
          toggleGaranteEditar();
          clienteIdEditar = clienteId;
        })
        .catch(error => {
          console.error(error);
        });
    }

    function mostrarConfirmacion(clienteId) {
      if (clienteIdEditar) {
        // Evitar eliminación si hay una edición en curso
        return;
      }
      // Mostrar alerta de eliminación
      document.getElementById('alertaEliminar').style.display = 'block';
      clienteIdEliminar = clienteId;
    }

    function cancelarEliminar() {
      // Ocultar alerta de eliminación
      document.getElementById('alertaEliminar').style.display = 'none';
      clienteIdEliminar = null;
    }

    function eliminarCliente() {
      if (clienteIdEliminar) {
        fetch(`/clientes/eliminar/${clienteIdEliminar}/`, {
          method: 'POST',
          headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            'Content-Type': 'application/json',
          },
        })
        .then(response => response.json())
        .then(data => {
          if (data.message) {
            document.getElementById('messages').innerHTML = `<div class="alert alert-success">${data.message}</div>`;
            // Actualizar la lista de clientes si es necesario
            // Puedes implementar la lógica aquí
          } else if (data.error) {
            document.getElementById('messages').innerHTML = `<div class="alert alert-danger">${data.error}</div>`;
          }
          // Ocultar alerta de eliminación
          document.getElementById('alertaEliminar').style.display = 'none';
          clienteIdEliminar = null;
        })
        .catch(error => {
          console.error(error);
        });
      }
    }

    // Función para ver la información del cliente
    function verInformacion(clienteId) {
  // Realizar una solicitud para obtener los datos del cliente por su ID
  fetch(`/clientes/obtener/${clienteId}/`)
    .then(response => response.json())
    .then(data => {
      if (data.cliente) {
        const cliente = data.cliente;
        // Llenar los campos del menú flotante con los datos del cliente
        document.getElementById('infoId').textContent = cliente.id_cliente;
        document.getElementById('infoNombre').textContent = cliente.nombre;
        document.getElementById('infoApellido').textContent = cliente.apellido;
        document.getElementById('infoDni').textContent = cliente.dni;
        document.getElementById('infoFechaNacimiento').textContent = cliente.fecha_nacimiento;
        document.getElementById('infoTipoCliente').textContent = cliente.tipo_cliente;
        document.getElementById('infoGaranteNombre').textContent = cliente.garante_nombre || '-';
        document.getElementById('infoGaranteApellido').textContent = cliente.garante_apellido || '-';
        document.getElementById('infoGaranteDni').textContent = cliente.garante_dni || '-';
        // Mostrar el menú flotante
        document.getElementById('menuFlotante').style.display = 'block';
      } else {
        console.error('Cliente no encontrado');
      }
    });
}
// Función para cerrar el menú flotante
function cerrarMenuFlotante() {
  // Ocultar el menú flotante
  document.getElementById('menuFlotante').style.display = 'none';
}

    // Función para obtener el valor de la cookie CSRFToken
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Nombre de la cookie es 'csrftoken'
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  </script>
{% endblock %}
