{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">Gestión de Contratos</h2>

            {% if is_creating_new or form.instance.pk %}
            <div class="card mb-4">
                <div class="card-header">
                    <h4>{% if form.instance.pk %}Editar Contrato{% else %}Crear Contrato{% endif %}</h4>
                </div>
                <div class="card-body">
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Error en el formulario:</strong>
                        <ul>
                            {% for field, errors in form.errors.items %}
                            <li>{{ field }}:
                                {% for error in errors %}
                                {{ error }}
                                {% endfor %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <form method="post" action="{% if form.instance.pk %}{% url 'actualizar_contrato' form.instance.pk %}{% else %}{% url 'crear_contrato' cliente.dni propiedad.ID_prop %}{% endif %}">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:"form-control" }}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                    </form>
                </div>
            </div>
            {% endif %}

                <!-- Listado de contratos -->
                <div class="card">
                    <div class="card-header">
                        <h4>Listado de Contratos</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ID Contrato</th>
                                    <th>Cliente</th>
                                    <th>DNI Cliente</th>
                                    <th>ID Propiedad</th>
                                    <th>Dirección Propiedad</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Descripción</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contrato in contratos %}
                                <tr>
                                    <td>{{ contrato.id_contrato }}</td>
                                    <td>{{ contrato.cliente.nombre_cliente }}</td>
                                    <td>{{ contrato.cliente.dni }}</td>
                                    <td>{{ contrato.propiedades.ID_prop }}</td>
                                    <td>{{ contrato.propiedades.direccion }}</td>
                                    <td>{{ contrato.fecha_inicio }}</td>
                                    <td>{{ contrato.fecha_fin }}</td>
                                    <td>{{ contrato.descripcion }}</td>
                                    <td>
                                        <a href="{% url 'actualizar_contrato' contrato.id_contrato %}" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Editar</a>
                                        <a href="#" class="btn btn-sm btn-info"><i class="fas fa-file-pdf"></i> PDF</a>
                                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#contractDetails{{ contrato.id_contrato }}"><i class="fas fa-eye"></i> Ver Información</button>
                                        <form action="{% url 'eliminar_contrato' contrato.id_contrato %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirmDelete()"><i class="fas fa-trash-alt"></i> Eliminar</button>
                                        </form>
                                    </td>
                                </tr>
                                <div class="modal fade" id="contractDetails{{ contrato.id_contrato }}" tabindex="-1" role="dialog" aria-labelledby="contractDetailsLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="contractDetailsLabel">Detalles del Contrato</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>Información del Contrato</h4>
                                                <p><strong>ID Contrato:</strong> {{ contrato.id_contrato }}</p>
                                                <p><strong>Cliente:</strong> {{ contrato.cliente.nombre_cliente }}</p>
                                                <p><strong>DNI Cliente:</strong> {{ contrato.cliente.dni }}</p>
                                                <p><strong>ID Propiedad:</strong> {{ contrato.propiedades.ID_prop }}</p>
                                                <p><strong>Dirección Propiedad:</strong> {{ contrato.propiedades.direccion }}</p>
                                                <p><strong>Fecha Inicio:</strong> {{ contrato.fecha_inicio }}</p>
                                                <p><strong>Fecha Fin:</strong> {{ contrato.fecha_fin }}</p>
                                                <p><strong>Descripción:</strong> {{ contrato.descripcion }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    $(document).ready(function () {
        function confirmDelete() {
            return Swal.fire({
                title: '¿Estás seguro?',
                text: "¡No podrás revertir esto!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '¡Sí, bórralo!'
            }).then((result) => {
                if (result.isConfirmed) {
                    return true;
                } else {
                    return false;
                }
            });
        }
    });
    </script>
    {% endblock %}
